<?xml version="1.0" encoding="UTF-8"?>

<configuration>
  <jmxConfigurator />

  <springProperty name="application" source="spring.application.name"/>
  <springProperty name="env" source="spring.profiles.active"/>

  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <Target>System.out</Target>
    <encoder>
      <pattern>%d %5p [%X{eid}] [${application}@${env}@${HOST_ADDRESS}] --- [%t] %-40.40c{39} : %m%n%ex</pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>WARN</level>
    </filter>
  </appender>

  <root level="info">
    <appender-ref ref="console"/>
  </root>


</configuration>